@import "variables.css";
@import "styles.css";

*,
*: : before,
*: : after {
  box-sizing: border-box;
}

html {
  background-color: var(--primary-background);
}

body {
  font-family: Inter;
  color: var(--body-text);
  padding: 10px 51px;
  margin: 0;
}

/* headlines + text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bricolage Grotesque;
  color: var(--main-text);
}

h1 {
  color: var(--secondary);
  font-size: 6.25rem;
  font-weight: 700;
  line-height: 6rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/* buttons */
.primary__button {
  display: inline-block;
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: 999px;
  background-color: var(--secondary);
  font-weight: 400;
  border: none;
  cursor: pointer;
  color: var(--primary-background);
  text-transform: uppercase;
  text-decoration: none;
}

.primary__button:focus-visible {
  outline: 2px solid var(--secondary);
  outline-offset: 4px;
  border-radius: 999px;
}
